*{
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
}
.container{
    max-width:80%;
    color: white;
    padding: 34px;
    margin: auto;
}
.container,h1{
    color: black;
    text-align: center;
    font-size: 40px;
}
.heading{
    background-color:blanchedalmond;
    opacity: 0.8;
    border-radius:25px ;
    margin-top:-14px;
}
p{
    font-size: 21px;
    font-family: 'Courgette', cursive;
    text-align: center;
    color:#FF2400;
    margin-top:8px;
}
input,textarea{
    opacity: 0.7;
    width: 80%;
    margin: 11px;
    padding: 7px;
    font-size: 15px;
    border:1px solid black;
    border-radius: 8px;
    outline: none;
   }
   input:hover{
    transform: scale(1.01);
 }
   textarea:hover{
    transform: scale(1.01);

   }
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:8px;
}
.btn3{
    cursor: pointer;
    border:1px solid white;
    border-radius: 8px;
    background-color:#E72388 ;
    padding: 1px 5px;
    font-size: 20px;
    color:white;
}
.btn3:hover{
    background-color: #4CAF50 ;
    transform: scale(1.05);
}
.btn2{
    margin-left:40px ;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    height: 925px;
    width:100%;
    position: absolute;
    z-index:-1 ;

    
}
.Submit{
    color: #006400;
  background-color: whitesmoke;
    margin-top: 35px;
    border-radius:6px;
    opacity: 0.8;
}
/* footer part */
.footerline{
    margin-top: 90px;
        border-top: 1px solid burlywood;
        height: 1px;
        width: 100%;
    }
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    body{
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




